# Node
node_modules/

# Build
dist/

# Docker
docker/

# IDE
*.iml

# Infisical
.infisical*

# Environment variables
.env*
!.env.production

# Logs
/logs/
*.log

# macOS
.DS_Store

CLAUDE.md
.claude
*.pem
.vscode
copilot-instructions.md
